[submodule "src/wmma_extension"]
	path = src/wmma_extension
	url = https://github.com/wmmae/wmma_extension
[submodule "src/cutf"]
	path = src/cutf
	url = https://github.com/enp1s0/cutf
[submodule "src/gemm_core_cuh"]
	path = src/gemm_core_cuh
	url = https://github.com/enp1s0/gemm_core_cuh
