[submodule "src/wmma_extension"]
	path = src/wmma_extension
	url = https://github.com/wmmae/wmma_extension
[submodule "src/cutf"]
	path = src/cutf
	url = https://github.com/enp1s0/cutf
[submodule "src/hmma.f32.f32"]
	path = src/hmma.f32.f32
	url = https://github.com/wmmae/hmma.f32.f32
